* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    box-sizing: border-box;
    --nav-text: rgb(134 134 139);
    --blue: rgb(41 151 255);
    --gray-bg: rgb(16 16 16);
}

::-webkit-scrollbar {
    background: var(--gray-bg);
    width: .5vw;
}

::-webkit-scrollbar-thumb {
    background: var(--nav-text);
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000000;
    color: #FFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
