header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 3rem;
}

.navigation nav {
    color: var(--nav-text);
    font-size: 0.875rem;
    cursor: pointer;
}

.hero h1 {
    text-align: center;
    color: var(--nav-text);
    font-size: 1.875rem;
}

.first_video {
    width: 83.333333%;
}

.hero {
    height: 94vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.hero button {
    border-radius: 1.5rem;
    background-color: var(--blue);
    color: white;
    padding: 0.5rem 1.5rem;
    transition: .2s ease-in-out;
    border: var(--blue) .1rem solid;
    font-size: 1rem;
}

.hero button:hover {
    background-color: black;;
    color: var(--blue);

}

#hero, #cta {
    opacity: 0;
}

#cta {
    gap: 1rem;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin: 0 0 0 24.5rem;
    font-size: 3.75rem;
    opacity: 0;
    position: relative;
    transform: translateY(120px);
    line-height: 1;
    font-weight: 500;
}


.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 0 24.5rem;
}

.slide {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

#highlights {
    overflow: hidden;
    background-color: var(--gray-bg);
    color: var(--nav-text);
    padding-top: 8rem;
}

#video {
    margin: 0 2rem 0 0;
    width: 70vw;
    border-radius: 2rem;
}

.relative {
    top: 2rem;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    color: #FFFFFF;
}

.cover {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

.link {
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    opacity: 0;
    position: relative;
    text-decoration: none;
    transform: translateY(120px);
}

.slide_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    position: relative;
    gap: 1rem;
}

.slide_buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.75rem;
    background-color: #42424570;
    border-radius: 40rem;
}

.slide_buttons div > span {
    width: 0.75rem;
    height: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(175 175 175);
    border-radius: 40rem;
    margin: 0 0.5rem;
}

.slide_circles_top {
    background-color: rgb(254, 254, 254);
    height: 100%;
    z-index: 100;
    display: flex;
    border-radius: 40rem;
}

.model {
    height: 100vh;
}

.canvas {
    height: 1100px;
    width: 100vw;
    display: flex;
}

#view1, #view2 {
    width: 90vw;
    height: 500px;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#view1 div, #view2 div {
    position: unset !important;
    transform: translate3d(0, 0, 0) scale(1) !important;
    transform-origin: 0 !important;
}

.screen {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#heading {
    color: var(--nav-text);
    text-align: center;
    font-size: 3.75rem;
    margin-top: 2rem;
    opacity: 0;
    position: relative;
    transition: 2s ease;
    transform: translateY(-170px);
    line-height: 1;
    font-weight: 500;
}

.screen_canvas {
    display: flex;
    align-items: flex-start;
    margin-top: 1.25rem;
    flex-direction: column;
}

.screen_canvas_cover {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

}

.screen_bottom {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
}

.screen_bottom p {
    color: var(--nav-text);
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
}

.screen_bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.screen_bottom div ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    gap: 1rem;
    background-color: #42424570;
    border-radius: 40rem;
}

.mapped {
    cursor: pointer;
    border-radius: 100rem;
    height: 1.2rem;
    width: 1.2rem;
}

.screen_btn {
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #42424570;
    border-radius: 40rem;
}

.screen_btn_size:hover,
.screen_btn_size:focus {
    outline: none;
}

.screen_btn_size {
    font-weight: 700;
    border-radius: 100rem;
    height: 3rem;
    transition: 0.3s ease-in-out;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    color: var(--nav-text);
    font-size: 1.875rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.features {
    height: 100%;
    padding: 2rem;
    overflow: hidden;
    background-color: var(--gray-bg);
}

#features_title {
    color: var(--nav-text);
    font-size: 3.75rem;
    opacity: 0;
    transform: translateY(-150px);
    line-height: 1;
    font-weight: 500;
}

.features_block {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.features_title {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    line-height: 5rem;
}

.features_block div h2 {
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
}

.features_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
    width: 60vw;
}

.features_container_div {
    display: flex;
    align-items: center;
    width: 100%;
}

#exploreVideo {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feature_img {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feature_img div {
    display: flex;
    justify-content: center;
}

.feature_img div div {
    width: 100%;
    height: 25vw;
    overflow: hidden;
}

.feature_text {
    display: flex;
    color: var(--nav-text);
}

.feature_text div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem !important;
}

.g_grow {
    transform: scale(1.3);
}

.g_text {
    opacity: 0;
    transform: translateY(100px);
    font-size: 1.25rem;
    line-height: 1.75rem;
    gap: 0.5rem;
}

.footer {
    padding: 1.25rem 0;
}

.footer div {
    max-width: 100%;
}


.footer_cover {
    background-color: #4b5563;
    margin: 1.25rem 0;
    width: 100%;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer_nav p, .link {
    font-weight: 600;
    color: #718096;
    font-size: 0.75rem;

}

.footer_nav div {
    display: flex;
}

.link span {
    margin: 0 0.5rem;
    overflow: hidden;
}

.works {
    padding: 2rem;
}

.works div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.works_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works_text h2 {
    text-align: center;
    font-size: 4rem;
    line-height: 1.5;
}

.works_text p {
    font-size: 1.25rem;
    color: var(--nav-text);
    line-height: 1.5;
    margin: 0;
}

.footer_container {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.footer_container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_img {
    overflow: hidden;
    z-index: 100;
}

.footer_img img {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
}

.footer_video {
    pointer-events: none;
    width: 73%;
}

.footer_video video {
    width: 100%;
    height: 100%;
}

.footer_container a {
    font-weight: 600;
    color: #718096;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.footer_inf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_inf div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer_inf div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: var(--nav-text);
}

.footer_inf div p span {
    color: white;
}

.g_fadeIn {
    opacity: 0;
    transform: translateY(100px);
    gap: 0.5rem;
}
